
<h1>Welcome To The Test Dummy App!</h1>
<p><h2>Click <%= link_to "Whodat", whodat.dashboard_path %> to see the signup/login navbar!</h2></p>
<br/>
<br/>
<h3>You can use the navbar through out your Rails application for simple signup, login and logout. 
Super fast and easy.
<div>
  <ul>
    <li> Add gem Whodat to your application's Gemfile </li>
    <Li> Install the gem by running bundle at the command line </li>
    <li> Add &lt;%= link_to "Whodat", whodat.dashboard_path %&gt; as the link in your index file. </li>
  </ul>
</h3>


