
<section class="hero">
     
  <div class="hero-inner">
    <%= image_tag "whodat/whodat-icon.png", :class => "image_style" %>
         
    <h1>WELCOME! </h1>
    <p>This test app will you test Whodat.<br/>
       Click below use the login navbar.</p>
          
    <%= button_to "Start Whodat", whodat.dashboard_path, :class=> "btn", :method => :get %> 
         
    <h3>You can use the login navbar through out your Rails application <br/>
        OR just to get one quick user and session. <br/>
        Simple signup, login and logout. <br/>
        Fast and easy, in just few steps. </h3>
  </div>
</section>