<h1>Welcome To The Test Dummy App!</h1>
<p><h2>Click <%= link_to "Whodat", whodat.dashboard_path %> to see the signup/login navbar!</h2></p>
<br/>
<br/>
<h3>You can use the navbar through out your application for simple signup, login and logout. 
Super fast and easy.</h3>
