<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<%= stylesheet_link_tag "whodat/navbar" %>

<div class="topnav" id="myTopnav">
 
  <a> <%= link_to 'Main app', main_app.root_path %> </a>
  <a> <%= link_to 'Signup', whodat.new_user_path %> </a>
  <a> <%= link_to 'Login', whodat.new_session_path %> </a>
 

</div>